<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar">
    <div class="navbar-content">
      <div class="navbar-links">
        <%= link_to 'Home', root_path %> |
        <% if user_signed_in? %>
          <%= link_to 'New Post', new_post_path %> |
        <% end %>
        <% if user_signed_in? %>
          <%= form_for :user, url: destroy_user_session_path, method: :delete, html: { class: "logout-form" } do %>
            <%= submit_tag "Logout", class: "logout-button" %>
          <% end %>
        <% else %>
          <%= link_to 'Sign Up', new_user_registration_path %> |
          <%= link_to 'Login', new_user_session_path %>
        <% end %>
      </div>
    </div>
  </nav>

  <%= yield %>
</body>
</html>
